.imgdiv{
   	height:300px;
   	width:100%;
   	text-align: center;
}

.imgdiv img{
	height:75%;
   	width:10%;
   	border-radius: 50%;
}

.modal{
	width: 50vw;
}

#modalTrigger{
	margin-left: 37%;
	margin-top: 20%;
}

body {
	background-repeat: no-repeat;
	background-size: 1700px 800px;
	background-position: center top;
	color: black;
}
